*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

#header-nav{
    background-color: rgb(144, 144, 145);
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid black;
    margin-bottom: 0;
}

.navbar-brand{
    padding-left: 0;
}

.navbar-brand a{
    text-decoration: none;
}

h1{
    font-size: 1.5em;
    color: black;   
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
}

h2{
    color: black;
    font-weight: bold;
    font-size: 35px;
}

#menu{
    padding:10px;
}

#text{
    background-color: rgb(144, 144, 145);
    margin-top: 10px;
    position: relative;
}

.text-center{
    position: relative;
    margin-top: 55px;
}
